doctype html
html
	head
		title viddeo.space
		script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7575035053900853", enable_page_level_ads: true});

		link(rel="stylesheet", href="/material-design-lite/material.min.css")
		script(src="/material-design-lite/material.min.js")

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		
		link(rel="stylesheet", href="/style.css")
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		meta(property="og:title", content="viddeo.space")
		meta(name="twitter:title", content="viddeo.space")
		meta(name="description", content="Sample Text")
		meta(name="theme-color", content="#a53eef")

		block head
	body
		block content

		script(src="/dialog-polyfill/dist/dialog-polyfill.js")
		script(src="/socketio-file-upload/client.min.js")
		script(src="/socket.io-client/dist/socket.io.slim.js")
		script(src="/script.js")
