extends template

block content
	.mdl-grid
		.mdl-cell.mdl-cell--4-col.column(style="width: 70%; margin: 0 auto;")
			h4.column-title Terms of use
			p You are free to upload any video of any kind.
			| All of your private videos are 
			b  encrypted.
			|  We don't watch them, neither do we want to.
			br
			br
			| If you have any questions or concerns, please E-Mail
			a(href="mailto:contact@viddeo.space")  contact@viddeo.space.
			br
			| If it is a takedown related message, please write in UUID (http://viddeo.space/show/[UUID here]), otherwise, we cannot remove the content you are wanting to be taken down (hence we encrypt the data).
			
			br
			br
			h4.column-title Storing
			| We store your IP, UUID (not the initialization vector and the key) for takedown purposes only.
			br
			| Your IP and other data will be erased when the link will eventually expire.

			br
			br
			h4.column-title Availability
			p viddeo.space does not guarantee full availability of this service. Your content can be removed at any time for any reason. We also remove videos that have existed for 24 hours.
			| Your video IDs are saved in the memory. Everytime we restart the service we remove the files.

	br
	a(style="display: flex; justify-content: center; align-items: center;", href="/") Go home
