.vs-head {
	background: url(/back-viddeo.jpg) fixed;
	color: #fff;
	padding: 6em;
}

.vs-head h1 {
	margin: 0 0 16px;
}

.vs-head-btn {
	color: #fff;
	margin-right: 4px;
}

.container {
	max-width: 1600px;
	width: calc(100% - 16px);
	margin: 0 auto;
}

.vs-videos {
	min-height: 100vh;
}

.vs-card {
	border-radius: 15px;
	margin: 0 8px;
	display: inline-flex;
}

.vs-card-img {
	background-size: cover;
	background-position: center;
}

@media only screen and (max-device-width: 480px) {
	.vs-head {
		padding: 3em;
	}
	
	.vs-head h1 {
		font-size: 32px;
	}
}

.tos-title {
	font-size: 20px;
	font-weight: 700;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	color: #ababab;
	text-transform: uppercase;
	display: block;
	margin: 16px 0 8px;
}

.uploadArea {
	padding: 2em;
	border: 8px dashed;
	text-align: center;
}

.full-height {
	height: 100%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.video {
	border-radius: 15px;
	cursor: pointer;
	max-width: 640px;
	height: auto;
}

.column {
	-webkit-box-shadow: 0px 5px 20px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 5px 20px -1px rgba(0,0,0,0.46);
	box-shadow: 0px 5px 20px -1px rgba(0,0,0,0.46);

	padding: 3em;
	border-radius: 15px;
}

i.big {
	font-size: 3em;
}

.inline-block {
	display: inline-block;
}

.column-title {
	margin-top: 8px;
}

code {
	border-radius: 8px;
	border: 1px #c8c8c8 solid;
	background: #f9f9f9;
	display: block;
	padding: 8px 16px;
}